<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title style="color: white">
        INSERTION APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <p>Please enter a sequence of nine numbers to be sorted.</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Enter ',' separated Sequence</ion-label>
        <ion-item>
          <ion-input type="string" #ipSeq color="dark"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button style="text-align: center" fill="solid" color="dark" expand="block" (click)="sortSeq(ipSeq.value)">
          Sort</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <div [innerHtml]="htmlString"></div>
    </ion-row>
  </ion-grid>
</ion-content>